/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;400;500;600;700;800;900&display=swap');

/* Variables */

/* .light-mode {
    --main-color: #6D0C9D;   
    --main-bg-color: #C9CDFF;
    --main-bg-img : url(/Sources/logo\ lulu\ panneau\ black.png);
    --background-img : url(/Sources/low-poly-house-light.png);
}

.dark-mode {
    --main-color: white;
    --main-bg-color: #2E2760;
    --main-bg-img : url(/Sources/logo\ lulu\ panneau\ white.png);
    --background-img :url(/Sources/low-poly-house.png);
}

:root {
    --main-color: #6D0C9D;
    --main-bg-color: #C9CDFF;
    --main-bg-img : url(/Sources/logo\ lulu\ panneau\ black.png);
    --background-img : url(/Sources/low-poly-house-light.png);
}

body.dark-mode{
  color: white!important;
  background-color: #2E2760;
} */


:root{
    font-size: 1.3rem;
    font-family: 'League Spartan', sans-serif;
    --main-color: white;
    --main-bg-color: #2E2760;
    --main-bg-img : url(/Sources/logo\ lulu\ panneau\ white.png);
    --background-img :url(/Sources/low-poly-house.png);
    --logo: url(/Sources/Illustration_sans_titre.png);
}