/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;400;500;600;700;800;900&display=swap');


/* Structure de la Nav-Barre */

:root {
    --font-size:1.3rem;
}

/* Reset */
*{  
    color: var(--main-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

  
  
  /* Reset */
  *{
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
  }
  
  html,body{
      width: 100vw;
      height: 100vh;
      overflow: hidden;
  }

  /* Body - Style */
  
  body{
      font-family: 'League Spartan', sans-serif;    
      background-color: var(--main-bg-color);
      background-repeat: no-repeat;
      background-size: cover;
  }
  
 footer{
    height: 10vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
 }

 footer a{
    padding-left: 20px;
 }
 footer a .fa-brands{
    color: white;
}

.main{
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color{
    color: #6253d3;
}

.main-content{
    position:relative;
    max-width: 600px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 5vh;
}

.main-img{
    object-fit: cover;
    object-position:top ;
}

.main-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-text h4{
    position:relative;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1.5rem;
    color: #6253d3;
}

.main-text h2 {
    font-size: 3.5rem;
    line-height: 4.8rem;
}

.main-text p{
    font-size: 0.938rem;
    margin-bottom: 1.5rem;
}


.about-text{
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    letter-spacing: 1px;
    text-align: center;
}


.heading{
    font-size: 3rem;
    text-transform: uppercase;
    color: #6253d3;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.btn{
    cursor: pointer;
    position: relative;
    background: transparent;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: clamp(12px, 0.75em, 16px);
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: none;
    margin-bottom: 1em;
    margin-top: 2em;
  }

.btn:hover {
    background: #03e9f4;
    border: none;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
    }

/* NAV-BAR */

.fa-brands{
    color: var(--main-color);
    transition: all .4 ease-in-out;
}

ul {
    list-style: none;
    position: relative;
}


.dark-btn{
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: var(--main-color);
    cursor: pointer;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.2s;
}

.dark-btn:hover{
    box-shadow: 0 0 5px var(--main-color),
                0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}

/* Logo Style */
.nav-logo{
    position: relative;
}
.logo{
    padding: 1vh;
    height: 4em;
    z-index: 1;
}


/* Navbar */
header{
    height: 15vh;
}
.navbar {
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 15vh;
    color: var(--main-color);
    transition: all .7s ease-in-out;
}
.navbar-links {
    display: flex;
}

.lien{
    position: relative;
}

.rsx{
    font-size: 1.3em;
}

.navbar-link {
    padding: 0 50px;
}
.navbar-link > a {
    color: var(--main-color);
    text-decoration: none;
}
.burger {
    display: none;
}

/* Small Devices */
@media screen and (max-width:819.98px) {

    .main{
        z-index: -100000;
        min-height: 400px;
    }

    .heading{
        font-size: 1.75rem;
        text-transform: uppercase;
        color: #6253d3;
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
        z-index: -1000000;
    }

    .main-text h2 {
        font-size: 2.5rem;
        line-height: 4rem;
        z-index: -100000;
    }

    .about-text{
        align-items: center;
        justify-content: center;
        font-size: 0.75rem;
        letter-spacing: 1px;
        text-align: center;
        padding: 10px;
    }

    .main img{
        z-index: -10000;
        width: 100px;
        height: 100px;
        margin-bottom: 2vh;
    }

    *{
        overflow: hidden;
    }

    .footer a{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 0;
        height:100vh;
        position: absolute;
        top: 80vh;
        right: 0;
        background: var(--main-bg-color);
        transition: all .4s ease-in-out;
    }

    .navbar-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 0;
        height:100vh;
        position: absolute;
        top: 0vh;
        right: 0;
        background: var(--main-bg-color);
        transition: all .4s ease-in-out;
    }

    .navbar-links li{
        position: relative;
        top: 1.5em;
    }

    .show-nav .navbar-links {
    width: 100%;
    }
    .navbar-link {
        transform: translateX(101%);
    }

    .rsx{
        transform: translateX(101%);
    }

    .show-navx .rsx{
        transform:translateX(0);
    }

    .show-nav .navbar-link {
        transform: translateX(0);
    }
    .navbar-link > a {
        display: block;
        padding: 1rem;
        font-size: 1.6rem;
        transition:all .4s ease-in-out;
    }
    .navbar-link > a:hover {
            padding: 2rem;
            letter-spacing: 5px;
    }


/* Toggle menu */
    .burger {
        display: block;
        position: relative;
        right: 10%;
        padding: 0;
        width: 45px;
        height: 45px;
        border: none;
        background: transparent;
        cursor: pointer;
    }
    .bar {
        display: block;
        width: 45px;
        height: 4px;
        background: var(--main-color);
        border-radius: 3px;
        transition: all .4s ease-in-out;
    }
    .show-nav .bar {
        width: 0;
        background: transparent;
    }
    .bar::before, .bar::after {
        content: "";
        width: 45px;
        height: 4px;
        position: absolute;
        left: 0;
        background: var(--main-color);
        border-radius: 3px;
        transition: all .4s ease-in-out;
    }
    .bar::before {
        transform:translateY(-12px);
    }
    .show-nav .bar::before {
        transform: rotate(45deg);
    }
    .bar::after {
        transform:translateY(12px);
    }
    .show-nav .bar::after {
        transform: rotate(-45deg);
    }


/* Animations */
    .show-nav .first {
        transition: all 1s ease-out;
    }
    .show-nav .second {
        transition: all 1.2s ease-out;
    }
    .show-nav .third {
        transition: all 1.3s ease-out;
    }
    .show-nav .fourth {
        transition: all 1.4s ease-out;
    }
    .show-nav .fifth {
        transition: all 1.5s ease-out;
    }

    .show-nav .six{
        transition: all 1.6s ease-out;
    }
    .show-nav .seven{
        transition: all 1.6 ease-out;
    }
    .show-nav .eight{
        transition: all 1.6 ease-out;
    }
}

.fa-github:hover{
    color: purple;
}

.fa-instagram:hover{
    color: orange;
}

.fa-linkedin-in:hover{
    color: blue;
}

/* Medium devices */
@media screen and (min-width:820px){
    .navbar-link > a:after {
        display: block;
        content: "";
        width: 0;
        height: 1px;
        background:var(--main-color);
        transition:width .4s;
    }
    .navbar-link:hover > a:after {
        width: 100%;
    }
}



