/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;400;500;600;700;800;900&display=swap');


/* Structure de la Nav-Barre */

:root {
    --font-size:1.3rem;
}

/* Reset */
*{  
    color: var(--main-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}


body.dark-mode{
    color: white!important;
    background-color: #2E2760;
  }
  
  
  /* Reset */
  *{
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
  }
  
  html,body{
      width: 100vw;
      height: 100vh;
      overflow: hidden;
  }

  /* Body - Style */
  
  body{
      font-family: 'League Spartan', sans-serif;
      background-image: var(--background-img);
      background-color: var(--main-bg-color);
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  .main-content{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      align-content: center;
  }
  
  .main-content h1{
      background-color:var(--main-bg-color);
      color :  var(--main-color);
      position: relative;
      font-size: 10vh;
      padding: 0.3em 0em 1em 0em;
      top: 3.5em;
      width: 10em;
      height: 1em;
      box-shadow: 0px 7px 20px black;
  }   
  







/* NAV-BAR */


.fa-brands{
    color: var(--main-color);
}

ul {
    list-style: none;
    position: relative;
    top: 40%;
}

.dark-btn{
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: var(--main-color);
    cursor: pointer;
    transition: all .4 ease-in-out;
}

.dark-btn:hover{
    box-shadow: 0 0 5px var(--main-color),
                0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}

/* Logo Style */
.nav-logo{
    position: relative;
}
.logo{
    padding: 1vh;
    height: 4em;
    z-index: 1;
}


/* Navbar */
.navbar {
    text-align: center;
    justify-content: space-between;
    display: flex;
    height: 10vh;
    color: var(--main-color);
    background: var(--main-bg-color);
    transition: all .7s ease-in-out;
}
.navbar-links {
    display: flex;
}

.lien{
    position: relative;
        top: 0.4em;
}

.rsx{
    font-size: 1.3em;
}

.navbar-link {
    padding: 0 50px;
}
.navbar-link > a {
    color: var(--main-color);
    text-decoration: none;
}
.burger {
    display: none;
}

/* Small Devices */
@media screen and (max-width:819.98px) {

    .main-content h1{
        font-size: 40px;
        top: 7em;

    }   

    
    .navbar-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 0;
        height:100vh;
        position: absolute;
        top: 0vh;
        right: 0;
        background: var(--main-bg-color);
        transition: all .4s ease-in-out;
    }
    .show-nav .navbar-links {
    width: 100%;
    }
    .navbar-link {
        transform: translateX(101%);
    }
    .show-nav .navbar-link {
        transform: translateX(0);
    }
    .navbar-link > a {
        display: block;
        padding: 1rem;
        font-size: 1.6rem;
        transition:all .4s ease-in-out;
    }
    .navbar-link > a:hover {
            padding: 2rem;
            letter-spacing: 5px;
    }



/* Toggle menu */
    .burger {
        display: block;
        position: relative;
        top: 3vh;
        right: 1em;
        padding: 0;
        width: 45px;
        height: 45px;
        border: none;
        background: transparent;
        cursor: pointer;
    }
    .bar {
        display: block;
        width: 45px;
        height: 4px;
        background: var(--main-color);
        border-radius: 3px;
        transition: all .4s ease-in-out;
    }
    .show-nav .bar {
        width: 0;
        background: transparent;
    }
    .bar::before, .bar::after {
        content: "";
        width: 45px;
        height: 4px;
        position: absolute;
        left: 0;
        background: var(--main-color);
        border-radius: 3px;
        transition: all .4s ease-in-out;
    }
    .bar::before {
        transform:translateY(-12px);
    }
    .show-nav .bar::before {
        transform: rotate(45deg);
    }
    .bar::after {
        transform:translateY(12px);
    }
    .show-nav .bar::after {
        transform: rotate(-45deg);
    }


/* Animations */
    .show-nav .first {
        transition: all 1s ease-out;
    }
    .show-nav .second {
        transition: all 1.2s ease-out;
    }
    .show-nav .third {
        transition: all 1.3s ease-out;
    }
    .show-nav .fourth {
        transition: all 1.4s ease-out;
    }
    .show-nav .fifth {
        transition: all 1.5s ease-out;
    }
    .show-nav .six {
        transition: all 1.6s ease-out;
    }
    .show-nav .seven {
        transition: all 1.7s ease-out;
    }
}

/* Medium devices */
@media screen and (min-width:820px){
    .navbar-link > a:after {
        display: block;
        content: "";
        width: 0;
        height: 1px;
        background:var(--main-color);
        transition:width .4s;
    }
    .navbar-link:hover > a:after {
        width: 100%;
    }
}